img {
    width: 30%;
    margin: 1.4%;
}

nav {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    border-bottom: 2px solid cornflowerblue;
    width: 40%;
    margin-left: 1.4%;
    padding: 0.5em 0;
    font-size: 1.5em;



}